.onlyOnMobile {
    display: none;
}

@media (max-width: 768px) {
    .onlyOnMobile {
        display: block;
    }
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 232, 157);
    font-family: 'Quicksand', sans-serif;

}

.header {
    font-family: 'Shizuru', cursive;
    font-weight: normal;
    font-size: 4.5em;
    margin: 20px auto;
    color: #fff;
    z-index: 1;
    text-align: center;
    filter: blur(0.7px);
    -webkit-filter: blur(0.7px);
} 


@media (max-width: 768px) {
    .header {
        font-size: 3em;
    }
}

form {
    align-items: center;
    text-align: center;
    position: relative;
}

.input {
    margin-inline: auto;
}

.inputField {
    width: 45vw;
    height: 57px;
    border-radius: 30px;
    background-color: rgb(143, 255, 216);
    box-shadow:rgb(14, 167, 114) 9px 4px 10px;
    /* transition: .5s ease-in-out; */
    margin-bottom: 15px;
    margin-inline: auto;
} 

@media (max-width: 768px) {
    .input {
        width: 90%;
    }

    .inputField {
        width: 90%;
    }
    .todos {
        width: 90%;
    }
    .todos_single {
        width: 100%;
    }

    
}

.inputField[type="text"] {
    padding-left: 20px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border: none;
    color: black;
}

.inputField:focus {
    outline: none;
    box-shadow:rgb(16, 164, 112) 12px 6px 12px 1300px;
    /* transition: .2s ease-in-out; */
}

.submitButton {
    position: absolute;
    height: 45px;
    width: 48px;
    border-radius: 26px;
    margin: 7px;
    right: 0;
    border: none;
    background-color: white;
    color: #000;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.15em;
    box-shadow:inset rgb(14, 167, 114) 0 0 4px 2px;
    /* transition: .4s ease-in-out; */
}

@media (max-width: 768px) {
    .submitButton {
       right: 3%;
     
    }
}

.submitButton:hover::after {
    content: '!';
}

.submitButton:hover {
    box-shadow: inset #ee9700 0 0 3px 2px;
    background-color: #ffca6f;
    font-size: 1.38em;
    font-weight: 800;
    transform: rotate(-17deg);
    transition: .2s ease-in-out;
}


/* -------------- ITEMS IN LIST -------------- */

.todos {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    flex-wrap: wrap;
    padding: 0;
    /* transition: .4s ease-in-out; */

}

@media (max-width: 768px) {
    .todos {
       margin-top: 60px;
       /* transition: .4s ease-in-out; */

    }
}

/*an unfinished single todo block*/
.todoSingle {
    display: flex;
    width: 29.5%; /* 30% of the page w/ a small gap */
    border-radius: 10px;
    padding: 10px 20px ;
    margin-top: 8px;
    background-color: rgb(254, 248, 73);
    box-shadow:inset rgb(167, 162, 16) 0px -2px 4px 2px;
    transition: .4s ease-in-out;
}


@media (max-width: 768px) {
    .todoSingle {
        width: 100%;
        transition: .4s ease-in-out;

    }
}

.todoSingleText {
    flex: 1; /* flex: 1 means that the text will take up the remaining space */
    border: none;
    text-align: left;
    padding-left: 1vw;
}

.todoSingleText:focus {
   outline: none; /* ! heh?? */
}

.iconBlock {
padding-right: 0.5vw;
}

.icon {
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}



